configuration {
  drun-display-format: "{name}";
  window-format:              "{w}{c}";
  modi: "window,run,drun,filebrowser";
  
  // enabling the icons
  show-icons: true;
  // icon-theme: "Numix-Circle";
}

@theme "/home/gn/.config/rofi/themes/current_theme.rasi"
